@page "/engine/calculate-displacement"

<PageTitle>Calculate Displacement</PageTitle>

<h3 class="top20">@title</h3>

<p>
    <button @onclick="TriggerPrompt">Enter Engine Displacement using JavaScript Code</button>
</p>

<p>
    Engine Displacement: @result
</p>
